{
  "bts_rpc": {
    "url": "http://localhost:9989/rpc",
    "username": "user",
    "password": "pass"
  },
  "price_limit": {
    "common": "only update price feed when the change rate is between 5% ~ 50%",
    "change_min": 5,
    "change_max": 50,
    "common1": "set the frequency, how many seconds need to wait until next fetch",
    "sample_timer": 120,
    "common2": "update the feed price at least 23.5 hours a time",
    "max_update_hours": 23.5,
    "common3": "we use the media price, how many samples need to use",
    "median_length": 31
  },
  "asset_list_display": ["CNY", "USD", "BTC", "GLD"],
  "delegate_list": ["delegate.baozi", "delegate2.baozi"]
}
